/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    // illumina-specific workflow parameters

    // Fastp parameters
    fastp_save_trimmed_fail                 = false
    fastp_qualified_quality                 = 15
    fastp_cut_mean_quality                  = 15
    adapterremoval_minquality               = 2
    keep_phix                               = false
    adapterremoval_trim_quality_stretch     = false

}

process {
    withName: FASTP {
        ext.args = [
            "-q ${params.fastp_qualified_quality}",
            "--cut_front",
            "--cut_tail",
            "--cut_mean_quality ${params.fastp_cut_mean_quality}"
        ].join(' ').trim()

    }

    withName: MINIMAP2_ALIGN {
        ext.args = [
            "-ax", //output in SAM format and allow multiple parameters
            "sr" // mapping for short reads
        ].join(' ').trim()
    }
}
